:root{
  --primary:#3c3c3c;
  --secondary:#1e1e1e;
  --complementary:#252526;
  --header-text:#cccccc;
  --text-col:#ffffff;
  --button-text:#858585;
  --button-col:#333333;
  --num-col:#2566cb;
  --gray-border: #808080;

  --checked-text:gray;

  --col1:rgb(255, 0, 0);
  --col2:rgb(0, 255, 0);
  --col3:rgb(0, 0, 255);
  --col4:rgb(255, 255, 0);
  --col5:rgb(0, 255, 255);
  --col6:rgb(255, 0, 255);
}

*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}

main{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  justify-content: center;
  background-color: var(--secondary);
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  background-color: var(--primary); 
  color: var(--header-text);
}

header div{
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5em;
}

section{
  display: flex;
  width: 90vw;
  justify-content: center;
  align-items: center;
}

#list-section{
  min-height: 1.8em;
  background-color: var(--complementary);
  padding: 1em 0 0.8em 0;
  margin-bottom: 2em;
  border-radius: 10px;
  color: var(--text-col);
}

.list-style{
  background-color: var(--complementary);

  display: grid;
  grid-template-columns: 10% 60% 10% 10% 10%;
  width: 80vw;
  padding: 0.1em 0.5em;
  border-radius:10px;
  margin-top: 0.2em;
}

#add-button{
  height: 80%;
  width: 5em;
  border-radius: 15px;
  background-color: var(--button-col);
  color: var(--button-text);
}

button:hover{
  color: var(--text-col);
  border: solid var(--text-col);
}

button{
  background-color: var(--button-col);
  color: var(--button-text); 
  border-radius: 15px;
}

li button, .checkbox-style{
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  text-align: center;
  align-self: center;
}

.checked{
  color: var(--checked-text);
}

.checked p{
  columns: var(--checked-text);
}

span{
  overflow: hidden;
  max-width: 80vw;
  background-color: var(--complementary);
  align-self: center;
  margin: 0.1em 0;
}

p{
  text-align: center;
  align-self: center;
  color: var(--num-col);
}

.bracket-style{
  color: var(--gray-border);
}

.popup-style{
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  background-color: var(--primary);
  height: 8rem;
  width: 60vw;
}

.button-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.button-container button{
  height: 2em;
  width: 5em;
}

.popup-cover{
  width: 100vw;
  height: 100vh;
  background-color: rgb(128, 128, 128, 0.4);
  position:fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
}

.popup-style span{
  background-color: var(--primary);
  color: var(--header-text);
}

@media only screen and (min-width: 769px) {
  main{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    padding-top: 3em;
  }

  section{
    width: auto;
  }

  #add-button{
    height: 3em;
  }

  #button-section{
    align-items: stretch;
  }

  #list-section{
    margin: 0 1em;
  }

}